<div class="page_content_container">
	<div class="page_content_resume">
		<div class="page_content_resume_title">РЕЗЮМЕ</div>
		<div class="resume_info">
			<div class="resume_info_block">
				<p>O себе:</p>
				<p>Мне важно получить первый опыт. Трудности и работа не пугает)</p>
			</div>
			<div class="resume_info_block">
				<p>Пет проекты:</p>
				<ul class="resume_info_styled_ul">
					<li>
						Таск-менеджер. Веб-приложение для управления задачам, в котором
						можно создавать канбан-доски, добавлять, редактировать и
						группировать задачи. Команда разработчиков состояла из двух человек
						я занимался fullstack-разработкой.
					</li>
					<li>
						Сервис управления доступами персонала для действий на объекте.
						Веб-приложение, функционал которого включает добавление и удаление
						сотрудников, выдачу и отзыв прав доступа, мониторинг действий и
						уведомления об инцидентах. Над проектом я работал один, в качестве
						fullstack-разработчика. В проекте использовалось серверное
						программирование PostgreSQL.
					</li>
					<li>
						Информационная система для учета личных финансов. Веб-приложение,
						которое позволяет пользователю управлять своими "кошельками",
						создавать финансовые цели и управлять транзакциями. Над проектом я
						работал один, в качестве fullstack-разработчика. Использовались
						JWT-токены для авторизации.
					</li>
				</ul>
			</div>
			<div class="resume_info_block">
				<p>Активности:</p>
				<ul>
					<li>
						Веб приложение для корпоративной геймификации. Проект для Хакатона,
						от компании CLOUDCOM. веб-приложение способствующее повышению
						мотивации и вовлеченности сотрудников. Приложение ориентировано на
						мобильные устройства и предлагает: игровую валюту, магазин, топ
						пользователей, встроенный чат с нейросетью "GigaChat". Я работал
						фронтенд-разработчиком в команде из 4 человек. Это был мой первый
						опыт с SCSS.
					</li>
				</ul>
			</div>
			<div class="resume_info_block">
				<div>ключевые навыки:</div>
				<div class="key_abilities">
					<div class="key_abilities_item">JavaScript</div>
					<div class="key_abilities_item">TypeScript</div>
					<div class="key_abilities_item">Vite</div>
					<div class="key_abilities_item">React</div>
					<div class="key_abilities_item">Zustand</div>
					<div class="key_abilities_item">Axios</div>
					<div class="key_abilities_item">TanStack Query</div>
					<div class="key_abilities_item">Express</div>
					<div class="key_abilities_item">NestJS</div>
					<div class="key_abilities_item">TypeORM</div>
					<div class="key_abilities_item">PostgreSQL</div>
					<div class="key_abilities_item">SQL</div>
					<div class="key_abilities_item">Git</div>
					<div class="key_abilities_item">REST</div>
					<div class="key_abilities_item">Postman</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page_content_sidebar">
		<div class="page_content_sidebar_social">
			<div class="page_content_sidebar_social_img_container">
				<img class="page_content_sidebar_social_img" src="./assets/photo.jpg" />
			</div>
			<div>Трапезников Иван</div>
			<div class="page_content_sidebar_social_socials">
				<a href="https://github.com/Kalabass">
					<img
						class="page_content_sidebar_social_socials_img"
						src="./assets/github.svg"
					/>
				</a>

				<a href="https://t.me/kalabass">
					<img
						class="page_content_sidebar_social_socials_img"
						src="./assets/telegram.svg"
					/>
				</a>

				<a href="mailto:tid.21@uni-dubna.ru">
					<img
						class="page_content_sidebar_social_socials_img"
						src="./assets/gmail.svg"
					/>
				</a>
			</div>
		</div>
	</div>
</div>
